/* Visit http://www.menucool.com/horizontal/javascript-menu for source code and other menu CSS templates */

.menu-header {
  
  padding-top: 0px;
  height: 5px;
  background: black url('../img/antiquity.jpg') no-repeat center;
  background-size: cover;
  border-top: 1px solid rgba(255,127,0,0.8);
  border-bottom: 1px solid rgba(255,127,0,0.8);
}

#sse3
{
    background-color: #000;
    height: 50px;
    clear:both;
    text-align:center;/*For IE5 or IE No DOCTYPE*/
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
        
#sses3
{
    margin: 0 auto;/*If you don't want the menu center aligned, remove this line and above text-align:center*/
    border-left:solid 1px black;
}
        
#sses3 ul
{
    font: normal 10px Fantasy;
    list-style-type: none;
    float:left;
    padding:5px 5px ;margin:0;
}
        
#sses3 li
{
    background: rgba(255,127,0,0.8);
    line-height: 40px;
    position: relative;
    overflow: hidden;/*used to hide slip*/
    z-index: 0;
    float:left;
    list-style-type: none;
    padding:0;margin:0;background-image:none;
    border-right:solid 1px black;
}
        
#sses3 li.current, #sses3 .slip
{
    background-color: rgba(255,127,0,0.4);
}
        
#sses3 li a
{
    text-align: center;
    text-decoration: none;
    padding: 0 30px;/*30px is used to adjust the distance between each menu item. Now the distance is 30+30=60px.*/
    /*width: 100px;*/ /*If you prefer a fixed width, uncomment this line and comment out above line*/
    color: white;
    display: block;
    z-index: 2;
    white-space:nowrap;
}
        
#sses3 li.current a
{
    color: black;
}
        
#sses3 .slip
{
    position: absolute;
    top: 0;
    z-index: -1;
}