.showcase {

margin-top: 70px;
text-align: center;
padding: 30px 20 px 0;
margin-bottom: 40px;
}


.button-group,
.orbit-bullets {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.main-footer {
	text-align: center;
}

/* Media Queries 
==========================*/

@media (max-width: 768) {
	.orbit-prev,
	.orbit-next {
		display: none;
	}
}
