
.top-bar .name h1 a {
  color: #8e3a00;
 font-family: 'Alegreya', Arial, sans-serif; 
 font-size: 1.3rem;
}

}


.button-group,
.orbit-bullets {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}



/* Media Queries 
==========================*/

@media (max-width: 768) {
	.orbit-prev,
	.orbit-next {
		display: none;
	}
}


